/* Default styles for all screen sizes */
.hero-content {
    text-align: center;
}

.hero-content div {
    padding-right: 0;
    margin-bottom: 0;
}

/* Define styles for screens with a maximum width of 768px (smaller screens) */
@media screen and (max-width: 768px) {
    .hero-content {
        text-align: left; /* Adjust text alignment for smaller screens */
        margin-right: -100px; /* Move the content further to the left by reducing the right margin */

    }

    .hero-content img {
        max-width: 100%; /* Set a maximum width for the hero image to prevent it from exceeding the available width */
        height: auto; /* Maintain the aspect ratio of the image */
        margin-right: 0; /* Reset the margin for smaller screens */
        margin-right: -100px; /* Move the content further to the left by reducing the right margin */

    }

    .hero-content div {
        max-width: 100%;
        margin: 0 auto; /* Center the child elements horizontally */
        padding-left: 0; /* Reset padding for screens with a maximum width of 1280px and height of 800px */
        margin-right: -100px; /* Move the content further to the left by reducing the right margin */
        margin-bottom: 0;
    }
}

/* Define styles for screens with a maximum width of 384px (even smaller screens) */
@media screen and (max-width: 384px) {
    .hero-content {
        text-align: left; /* Adjust text alignment for even smaller screens */
    }

    .hero-content div {
        padding-right: 5px; /* Add more responsive padding for even smaller screens */
        margin-bottom: 5px; /* Add more responsive margin for even smaller screens */
    }
}
@media screen and (max-width: 1280px) and (max-height: 800px) {
    .hero-content {
        max-width: 100%; /* Set a maximum width to prevent the content from extending beyond the desired width */
        text-align: left; /* Adjust text alignment for screens with a maximum width of 1280px and height of 800px */
        margin: 0 auto; /* Center the content horizontally within the available width */
    }

    .hero-content div {
        max-width: 100%;
        margin: 0 auto; /* Center the child elements horizontally */
        padding-left: 0; /* Reset padding for screens with a maximum width of 1280px and height of 800px */
        margin-right: -100px; /* Move the content further to the left by reducing the right margin */
        margin-bottom: 0;
    }
    @font-face {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        src: url('../fonts/poppins-v15-latin-regular.eot'); /* IE9 Compat Modes */
        src: local(''),
             url('../fonts/poppins-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
             url('../fonts/poppins-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
             url('../fonts/poppins-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
             url('../fonts/poppins-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
             url('../fonts/poppins-v15-latin-regular.svg#Poppins') format('svg'); /* Legacy iOS */
      }

}
